<ul class="al-msg-center clearfix">
    <li uib-dropdown>
        <a href uib-dropdown-toggle>
            <i class="fa fa-bell-o"></i><span>{{notifications.length}}</span>

            <div class="notification-ring"></div>
        </a>

        <div uib-dropdown-menu class="top-dropdown-menu">
            <i class="dropdown-arr"></i>

            <div class="header clearfix">
                <strong>Notifications</strong>
                <a href ng-click="markAsRead()">Mark All as Read</a>
            </div>
            <div class="msg-list">
                <a href class="clearfix" ng-repeat="notification in notifications">
                    <div class="img-area"></div>
                    <div class="msg-area">
                        <div ng-bind-html="getMessage(notification)"></div>
                        <span>{{ notification.date | date :'medium' }}</span>
                    </div>
                </a>
            </div>
            <a ui-sref="transactions.history">See all transactions</a>
        </div>
    </li>
</ul>